.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    font-family: sans-serif;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-button {
    padding: 6px 12px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}
